.header{
    width: 100%;
    background: url('https: //scientists.uz/images/certificate_2023.jpg');
    object-fit: cover;
    background-position: center;
}

.kopyright{
    -webkit-box-shadow: 7px 5px 20px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 7px 5px 20px 0px rgba(0, 0, 0, 0.28);
}
